body{
    background-image:url(images2/bg2.png);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    min-height: 1500px;

}
img{
    width: 150%;
    padding-top: 50%;
   

}
.footer-div{
    display: block;
    background-color: rgb(51, 13, 91);
}

.box{
    display: flex;
    width: 50%;
    height:50px;
    color: aliceblue;
    align-items: center ;
    padding:10%;
    font-size:100px;

}

.box2{
    display: flex;
    width: 50%;
    height:60px;
    color: aliceblue;
    align-items: center ;
    padding:10%;
    font-size:50px;

}

.box3{
    display: flex;
    width: 100%;
    height:80px;
    color: aliceblue;
    align-items: center ;
    padding:10%;
    font-size:40px;

}
p{
    align-items: center ;
    color: aliceblue;
     display: flex;
    width: 100%;
    height:80px;
    padding: 5%;

}