body{
    background-image:url(images2/paint.png);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;

}
footer{
    display: block;
    color: darkblue;
}
.blue-bar{
    background-color: rgb(67, 17, 105);
    width: 100%;
    height: 60px;

}
.blue2-bar{
    background-color: rgb(46, 11, 103);
    width: 100%;
    height: 150px;

}
.nav-link {
    color:whitesmoke ;
    font-weight: 500;
    margin-left: 15px;
    background-color: rgb(37, 12, 114);
   
}
h1{
    text-align: justify;
    display: flex;
    width: 50%;
    height:60px;
    color: aliceblue;
    align-items: start;
    padding:10%;
    font-size:50px;
}

h2{
   text-align: justify;
   display: flex;
    width: 200%;
    height:80px;
    color: aliceblue;
    align-items: start;
    padding:10%;
    font-size:40px;

}
p{
    text-align: justify;
    display: flex;
    width: 50%;
    height:80px;
    color: aliceblue;
    align-items: start;
    
}

