body{
    background-image:url(images2/bg2.png);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    min-height: 1500px;
}
.box{
    display: flex;
    width: 200%;
    height:50px;
    color: aliceblue;
    align-items: center ;
    padding:10%;
    font-size:100px;

}

.box2{
    display: flex;
    width: 100%;
    height:80px;
    color: aliceblue;
    align-items: center ;
    padding:10%;
    font-size:60px;

}